@keyframes fadeInFromInsideAnimation{
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.fadeInFromInside{
  animation-name: fadeInFromInsideAnimation;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}


@keyframes pullUpFromBelowAnimation {
  0% {
    top: 150px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.pullUpFromBelow{
  position: relative;
  animation-duration: 2.5s;
  animation-name: pullUpFromBelowAnimation;
}

@keyframes bounceAnimation {
  0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-25px);
    }
}


.bounce {
  animation-name: bounceAnimation;
  animation-delay: 4s;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zoomInOutAnimation {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(.9);
  }
  75% {
      transform: scale(1.1);
    }
}

/* .social-media-picture:hover{
  animation: zoomInOutAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */
