html, body {
  margin: 0;
  height: 100%
}

a{
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300
}

html {
  scroll-behavior: smooth;

}






/* START LANDING PAGE */
#landing-page {
  background: linear-gradient(to bottom, #577284 0%, #FFFFFF 100%);
  height: 100vh;
  width: 100vw;

  display: table-cell;
  vertical-align: middle;
  text-align: center;

  /* border: #5208DE 5px dotted */
}


#landing-information{
  display: inline-block;
  position: relative;
  padding-bottom: 100px;

  font-family: 'Montserrat', sans-serif;

  /* border: #A8F45E 5px dotted; */
}



#quick-summary{
  /* border: #A40EBD 5px dotted */
}

#quick-summary p {
  margin: 0px;

  /* border: #29C6E3 5px dotted; */
}

.my-name{
  font-size: 106px;

  /* border: 5px dotted #5C2C3A */
}

.position{
  font-size: 26px;

  /* border: #CE68E6 5px dotted; */
}


#navigation{
  margin: 2.5px 0 10px 0;

  /* border: #48B857 5px dotted; */
}

#navigation a {
  font-size: 24px;
  border-right: 2px #FFFFFF solid;
  padding: 0 20px 0 20px;
  color: inherit;

  /* border: #9440A2 5px dotted; */
}


#navigation a:last-of-type{
  border: 0;

  /* border: #DA5153 5px dotted */
}

#navigation a:hover{
  color: white;

  /* border: #FE760A 5px dotted */
}


#contact-information{
  display: flex;
  justify-content: space-around;

  /* border: #7E768E 5px dotted; */
}

#contact-information a{

  /* border: #B44EAD 5px dotted; */
}





.social-media-picture{
	border: 5px solid transparent;
	border-radius: 50%;
	width: 100px;
	height: 100px;

  /* border: 5px dotted #8E1582 */
}



.resume:hover{
  border-color: #CC7226;
  background: #CC7226;

}

.mail:hover{
  border-color: #254E70;
  background: #254E70

}

.github:hover{
  border-color: #3e9fc9;
  background: #3e9fc9;

}
.instagram:hover{
  border-color: #A56066;
  background: #A56066;

}

.spotify:hover{
  border-color: #12AA4B;
  background: #12AA4B;

}


#down-arrow{
  position: absolute;
  bottom: 25px;
  right: 0px;
  width: 100%;

  /* outline: #A9AD46 5px dotted; */

}

.arrow-picture:hover{
  background-color: #2774AE;
  /* background-color: beige; */
  border-radius: 50%;
}

/* END LANDING PAGE */













































#all-information {
  margin-left: 0%;
  margin-right: 10%;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.4;

  /* border: #FCC458 5px dotted */
}


.bold-text{
  font-weight: bolder;
}

#about, #experience, #projects, #coursework {
  display: flex;
  align-items: flex-start;

  margin-top: 50px;
  padding-top: 50px;

  /* border: #16A9AB 5px dotted; */
}


.section-name {
  margin: 0 25px 0 0;
  top: 0;
  width: 20%;
  text-align: right;
  font-size: 40px;
  position: sticky;

  /* border: #329D89 5px dotted; */
}

.total-picture {
  flex-grow: 1;
  margin-right: 25px;
  position: relative;
  text-align: center;
  display: block;

  /* border: 5px #0DF5ED dotted; */
}

.darren-picture {
  padding: 0;
  margin: 0;
  /* max-width: 100%;
  max-height: 100%; */

  /* border: #92AA13 5px dotted; */
}

.caption {
  padding: 0;
  margin: 0;
  font-style: italic;

  /* border: #54DE17 5px dotted; */
}

.location{
  /* border: #4D09E6 5px dotted */
}



.introduction {
  flex-grow: 10;
  width: 25%;
  text-align: left;
  margin: 0;

  /* border: #194894 5px dotted; */
}


.introduction p:first-of-type{
  margin: 0;

  /* border: #1831AB 5px dotted; */
}




#all-exp, #all-proj, #all-courses {
  flex: 1;
  /* border: 5px #C7C9BF dotted */
}













#projects a{
  color: rgb(172, 45, 45)
}

#projects a:hover{
  color: rgb(46, 138, 199);
  text-decoration: underline;
  /* border: #4FDCEE 5px dotted; */
}


#all-exp, #all-proj{
  display: flex;
  flex-direction: column;
  flex: 1;

  /* border: #c94fee 5px dotted; */

}

.exp-row{
  display: flex;

  border: #6f2c83 5px dotted;
}



.exp-row, .proj-row{
  display: flex;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: #577284 2px dashed;

  /* border: #5bbe19 5px dotted; */
}


/* Every proj row will have a top margin EXCEPT the first */
.exp-row:first-of-type, .proj-row:first-of-type{
  padding-top: 0;
  /* border: #1961be 5px dotted; */
}

.exp-row:first-of-type, .proj-row:last-of-type{
  padding-bottom: 0;
  border: none
}

.exp-picture{
  margin-right: 50px;
}

.exp-picture, .proj-picture{
  transition: 0.4s ease-in-out; 

  /* border: #1961be 5px dotted; */

}

.exp-picture:hover, .proj-picture:hover { 
  transform: scale(1.05); 
} 


.proj-row:first-child{
  /* border: #1961be 5px dotted; */
}


.proj-pic-links{
  display: flex;
  flex-direction: column;
  margin-right: 50px;

  /* border: #be6319 5px dotted; */
}

.proj-picture{
  /* margin-right: 50px; */
  text-align: center;
  /* filter: drop-shadow(2px 2px 2px #222); */
  
  /* border: #5819be 5px dotted; */
}

.proj-links{
  text-align: center;
  margin: 5px 0 0 0 ;

  /* border: #023a05 5px dotted; */
}


.proj-description{
  /* padding: 0; */
  /* margin: 0; */
  /* border: #be196c 5px dotted; */
}



#all-courses{
  display: flex;
}

.cs, .stats{
  margin-right: 1em;
}

.cs, .stats, .math{
  flex-grow: 1;
  text-align: left;
  /* border: #4FDCEE 5px dotted; */
}










.buttons {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

  /* border: #E63139 5px dotted; */
}

.language {
  margin: 0;
  border: 2px #6E7475 solid;
  color: #6E7475;
  border-radius: 10px;
  text-align: center;
  padding: 5px 20px 5px 20px;

  /* border: #84FBD6 5px dotted; */
}




#footer {
  margin-top: 25px;
  padding-top: 75px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #577284 250%);
  display: flex;
  justify-content: center;

  /* border: #D7309B 5px dotted; */
}

.message{
  font-size: 14px;

  /* border: #D02437 5px dotted */
}
